.wrapper {
  text-align: center;
}
.container {
  border: 1px solid red;
  margin: auto;
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}
.title {
  border: 1px solid red;
  color: aqua;
  background: #000;
  margin: none;
}
.description {
  background: rgb(50, 50, 50);
  margin: none;
  color: white;
}
.demo {
  background-color: aqua;
  color: #000;
}
h1,
p {
  margin: 0 auto;
}
